<footer id="footer" class="footer bg-overlay">
  <div class="footer-main">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-4 col-md-6 footer-widget footer-about">
          <h3 class="widget-title">COntact Us</h3>
          <ul class="list-arrow">
            <li><a href="service-single.html">(+254) 714-933-065</a></li>
          </ul>
          <div class="footer-social">
            <ul>
              <li>
                <a href="https://facebook.com/themefisher" aria-label="Facebook"
                  ><i class="fab fa-facebook-f"></i
                ></a>
              </li>
              <li>
                <a href="https://twitter.com/themefisher" aria-label="Twitter"
                  ><i class="fab fa-twitter"></i
                ></a>
              </li>
            </ul>
          </div>
          <!-- Footer social end -->
        </div>
        <!-- Col end -->

        <div class="col-lg-4 col-md-6 footer-widget mt-5 mt-md-0">
          <h3 class="widget-title">Vote MCHAPA KAZI</h3>
          <div class="working-hours">
            Committed to service delivery to the people of Kenya and Vihiga Vote
            for change, Vote for good Leadership Vote for MchapaKazi!
          </div>
        </div>
        <!-- Col end -->

        <div class="col-lg-3 col-md-6 mt-5 mt-lg-0 footer-widget">
          <h3 class="widget-title">Quick Links</h3>
          <ul>
            <li>
              <div class="row">
                <div class="col-6">
                  <a href="contact">Contact</a>
                </div>
                <div class="col-6">
                  <a href="gallery">Projects</a>
                </div>
              </div>
            </li>

            <li>
              <div class="row">
                <div class="col-6">
                  <a href="about">Biography</a>
                </div>
                <div class="col-6">
                  <a href="manifesto">Manifesto</a>
                </div>
              </div>
            </li>
          </ul>
        </div>
        <!-- Col end -->
      </div>
      <!-- Row end -->
    </div>
    <!-- Container end -->
  </div>
  <!-- Footer main end -->

  <div class="copyright">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6">
          <div class="copyright-info text-center text-md-left">
            <span
              >Copyright &copy;
              <script>
                document.write(new Date().getFullYear());
              </script>
              Wilber Ottichilo Secretariat. All Rights Reserved.
              <a
                href="http://insynqueafrica.com/"
                target="_blank"
                rel="noopener noreferrer"
                >Site by InsyncAfrica</a
              >
            </span>
          </div>
        </div>
      </div>
      <!-- Row end -->

      <div
        id="back-to-top"
        data-spy="affix"
        data-offset-top="10"
        class="back-to-top position-fixed"
      >
        <button class="btn btn-primary" title="Back to Top">
          <i class="fa fa-angle-double-up"></i>
        </button>
      </div>
    </div>
    <!-- Container end -->
  </div>
  <!-- Copyright end -->
</footer>
