<div class="body-inner">
<app-navbar></app-navbar>
<app-banner></app-banner>

<section id="main-container" class="main-container">
<div class="container">
  <div class="row mb-5">
    <div class="col-lg-6">
      <h3 class="column-title">
        Dr. Ottichilo's Birth, Family, Background, Education & Work
      </h3>

      <p>
        H.E. Dr Wilber K. Ottichilo is the current Governor for Vihiga
        County, born September 23, 1952 in Emanyinya village, Emusire
        sub-location, Central Bunyore Ward in Emuhaya sub-county. Dr
        Ottichilo attended Makerere University from 1974 to 1977, the
        University of Nairobi from 1981 to 1983, as well as Colorado
        State University from 1984-1986. He obtained his doctorate in
        Natural Resource Management and Space Science from the
        University of Wageningen International Institute for Earth
        Observation and Geoinformation in The Netherlands. <br>
        Before joining politics in 2008, Dr Ottichilo worked for eight years as the Director General for
Regional Centre for Mapping of Resources for Development (RCMRD) for Eastern and Southern
Africa. The Centre is an affiliate of UN-Economic Commission for Africa and provides training
and advisory services in the use of Geo-Information Technologies (Remote Sensing,GIS,GPS and
ICT) in sustainable development of its member States. Between 1993 and 1998 he was the
Deputy Director/Chief Scientist of Kenya Wildlife Service and was responsible for biodiversity
research, planning and management. Between 1989 and 1992, he worked for UN-Food and
Agricultural Organization as remote sensing expert/project manager for the food security and
early warning project for the Greater Horn of Africa. 
      </p>
    </div>
    <!-- Col end -->

    <div class="col-lg-6 mt-5 mt-lg-0">
      <img src="assets/images/bio.jpg" alt="" srcset="" style="width: 100%" />
    </div>
    <!-- Col end -->
  </div>
  <!-- Content row end -->
  <div class="row mb-5">
    <div class="col-lg-6 mt-5 mt-lg-0">
      <div class="row mt-2">
        <img src="assets/images/service2.png" alt="" srcset="" style="width: 100%" />
  </div>
      <div class="row mt-4">
          <img src="assets/images/service3.png" alt="" srcset="" style="width: 100%" />
    </div>
    </div>
    <!-- Col end -->
    <div class="col-lg-6">
      <h3 class="column-title">POLITICAL LIFE</h3>

      <p>
        Dr Wilber Ottichilo has been the MP representing Emuhaya Constituency in the National
        Assembly since the year 2008. As a result of his work, Emuhaya constituency stands out in
        Vihiga County as having the best road network, the best educational facilities and
        performance, the best electricity network and access, the best health facilities among
        others. Based on his development record, he was voted in May 2015 as the best performing
        Member of Parliament in Kenya.
        During the 10th Parliament he was a member of Parliamentary Committees on Education,
        Research and Technology and Transport and Communications and in the 11th Parliament
        he is a member of Parliamentary Committees on Education, Research and Technology and
        Environment and Natural Resources. While serving in these Committees he has contributed
        immensely to the legislation and enaction of several laws including but not limited to Basic
        Education Act , University Act, TVET Act, STI Act ,Biosafety Act, National Construction Act,
        Engineers Act, National Safety and Transport Act, Technologist and Technician Act, Wildlife
        Act, Forest Act, Water Act, Mining Act etc .He individually and successfully sponsored the
        following motions and bill in the Parliament:</p>
        <ul>
          <li>Motion on the threat of the impact of construction of GIBE 3 Dam in Ethiopia on
            Lake Turkana</li>
            <li>Motion on the establishment of National Spatial Data infrastructure (NSDI) in Kenya</li>
            <li> Motion on the establishment of Kenya Space Agency</li>
            <li>Motion to set aside one national day every month for the public to clean their
              environment as per Article 42 of our constitution</li>
              <li>Motion on the promotion of the use and development of renewable energy in Kenya</li>
              <li>The Climate Change Act (2016)</li>
        </ul>
        
    
    </div>
    <!-- Col end -->
  </div>
  <!-- Content row end --><!-- Content row end -->
  <div class="row">
    <div class="col-lg-6">
      <h3 class="column-title">GOVERNORSHIP</h3>

      <p>
        Dr. WIlber Ottichilo ascended to power as Governor of Vihiga County after being elected in 2017 beating incumbent governor Rev. Moses Akaranga by 20,000 votes. When he took over as Governor the County was in disarray and dilapitated as a result of rampant embezzlement and corruption of county coffers by the previous administration. The county was rated as one of the worst performer sin terms of development and budgetary allocations and it was heavily in debt with a debt of over Kshs 3 Billion. Despite an economic downturn and the ravages of the Covid-19 Pandemic, Dr.Ottichilo has managed to turn the fortunes  of Vihiga County. Taking the County from last place to one of the top 2 positions with regard to performance of 1st term Governors as well as clearing the debts incurred by the former adminstirastion from Kshs. 3 Billion to a poultry 500 million. 
      </p>
    </div>
    <!-- Col end -->

    <div class="col-lg-6 mt-5 mt-lg-0">
      <img src="assets/images/ott2.jpg" alt="" srcset="" style="width: 100%" />
      <!-- Page slider end-->
    </div>
    <!-- Col end -->
  </div>
  <!-- Content row end -->
</div>
<!-- Container end -->
</section>
<!-- Main container end -->
<section id="main-container" class="main-container">
<div class="container"></div>
<!-- Container end -->
</section>
<!-- Main container end -->
<app-footer></app-footer>

</div>
