<div class="body-inner">
  <app-navbar></app-navbar>
<app-banner></app-banner>
  <!-- Banner area end -->

  <section id="main-container" class="main-container pb-2">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 mb-5">
          <div class="ts-service-box">
            <div class="ts-service-image-wrapper">
              <img
                loading="lazy"
                class="w-100"
                src="assets/images/po.jpg"
                alt="service-image"
              />
            </div>
            <div class="d-flex">
              <div class="ts-service-info">
                <h3 class="service-box-title">
                  <a href="manifesto">Political Pillar </a>
                </h3>
                <p>
                  The Political Pillar envisages a democratic political system
                  that is issue-based, people-centered, result oriented and
                  accountable to the public. Since the inauguration fo the
                  Constituion, progress has been made in advancing strategic
                  political, governance and institutional reforms and these
                  include enactmanet of legislation mandated by the
                  Constitution, establishment of new governance institutions at
                  national and county levels, civic education, judicial
                  transformation, police reforms, reforms in prisons and
                  correctional services, changes i the electoral processes,
                  promoting national cohesion nd social integration,
                  transparency and accountability and the rule of law. In
                  addition, the Constitution (2010) deveovles considerable
                  functions and powers to the county governments, which include
                  agriculture, health services, control of air and other
                  pollution, cultural activites, transport, animal control and
                  welfare, trade development, planning and development,
                  pre-primary education, natural resources and environmental
                  conservation, public works and services, firefighting services
                  and disaster management, control of drugs and pornography and
                  coordinating participation of communities.

                
                </p>
                <ul>
                  <li>Effeciency Monitoring Unit to continuously monitor budget implementation and ensure fidelity.</li>
                    <li>A county Audit Unit to ensure equity and accountability.</li>
                    <li>A County Planning and Budget Committee to ensure that Planninga nd budget making process are participatory.</li>
                </ul>
              </div>
            </div>
          </div>
          <!-- Service1 end -->
        </div>
        <!-- Col 1 end -->
        <div class="col-lg-6 col-md-6 mb-5">
          <div class="ts-service-box">
            <div class="ts-service-image-wrapper">
              <img
                loading="lazy"
                class="w-100"
                src="assets/images/handshake.png"
                alt="service-image"
              />
            </div>
            <div class="d-flex">
              <div class="ts-service-info">
                <h3 class="service-box-title">
                  <a href="manifesto">Good Governance </a>
                </h3>
                <p>
                  Our political philosophy and platform is Social Democracy.
                  This philosophy believes that a successful Government is built
                  through teamwork, and ensures promotion of social, economic,
                  cultural and political development opportuniteis for everyone.
                  The County Government shall therefore, engage political and
                  development partners locally, nationally, regionally and
                  internationally, who subscribe to the philosophy of Social
                  Democracy. We will solidly remain part of the politcal
                  movement and allies that believe in and promote social
                  democracy in Kenya. Guided by the Constitution and Laws of
                  Kenya, we shall define and document what the County Government
                  of Vihiga will look like, outlining all the different
                  departments and agencies and how they relate to each other for
                  the service of the people of Vihiga and Kenya. Guided by the
                  Constitutio and Laws of Kenya, we shall define and document
                  what the County Government of Vihiga will look like, outlining
                  all the different departments and agencies and how they relate
                  to each other for the service of the people fo Vihiga and
                  Kenya. We will develop a transparent and accountable public
                  resources mobilization, utilization and management system that
                  will include: </p>
                  <ul>
                    <li> A comprehensive, fair and equitable system for local revenue collection and utlization across the County.</li>
                    <li>A framework for mobilisation of resources locally, nationally and externally.</li>
                    <li>
                      A comprehensive public debt management policy.</li>
                      

                  </ul>
                 





              </div>
            </div>
          </div>
          <!-- Service1 end -->
        </div>
        <!-- Col 1 end -->
        <div class="col-lg-6 col-md-6 mb-5">
          <div class="ts-service-box">
            <div class="ts-service-image-wrapper">
              <img
                loading="lazy"
                class="w-100"
                src="assets/images/health.JPG"
                alt="service-image"
              />
            </div>
            <div class="d-flex">
              <div class="ts-service-info">
                <h3 class="service-box-title">
                  <a href="manifesto">HealthCare</a>
                </h3>
                <p>
                  Ensuring uninterrupted supply of drugs and non-pharmaceuticals
                  materials to all our health facilities Established 24 hour
                  health facilities across the county Increasing Human resource
                  capacity across all our healthcare facilities and units
                  Installed modern diagnostic facilities at our County Referral
                  hospital – 32 and 64 Slice CT-Scans Completed installation and
                  commissioning of a 5-bed ICU unit at VCRH Availed modern
                  dental facilities and services across all our sub-county
                  hospitals Availed specialized Cardiac and Oncology services
                  across our subcounty hospitals Established amenity wards at
                  VCRH Completed construction of oxygen plant building and
                  installation of oxygen plant Initiated the Ottichilocare
                  program to support expectant mothers pre and post paternity
                  Commenced on the construction of the Hospital Plaza, Funeral
                  Home and Drugs Store
                </p>
              </div>
            </div>
          </div>
          <!-- Service1 end -->
        </div>
        <!-- Col 1 end -->

        <div class="col-lg-6 col-md-6 mb-5">
          <div class="ts-service-box">
            <div class="ts-service-image-wrapper">
              <img
                loading="lazy"
                class="w-100"
                src="assets/images/tvet.JPG"
                alt="service-image"
                style="height: 360px"
              />
            </div>
            <div class="d-flex">
              <div class="ts-service-info">
                <h3 class="service-box-title"><a href="">Education</a></h3>
                <p>
                  Completed the construction of 183 out of 210 ECDE classrooms,
                  renovated 26 TVET facilities and registered 26 VTCs with the
                  National Ministry of Education and Technical Training,
                  Increasing enrolment in TVET from 2,901 (2017) to 3327 (2018),
                  4208 (2019), 4,642 (2020) and 5,224 (2021). Employed and
                  deployed 121 new TVET trainers- Increased from: 75 (2018), 142
                  (2019), 155 (2020) and 195 (2021). Improved ECDE staffing –
                  from 768 (2018), 770 (2019) and 814 (2020) Improved ECDE
                  access - 836 ECDE centres (2017), 852 (2018), 852 (2019) and
                  930 (2021). Established legal framework and revamping the
                  Vihiga County Education Fund (Bursary) – benefitting 77,168
                  students in the last 3 financial years. Established the
                  Governor Full Scholarship Programme, currently benefiting 327
                  students from needy economic backgrounds. Revamped the Vihiga
                  County Education Fund (Bursary) increasing its budgetary
                  allocation for each ward from KES 1 million to KES 4 million
                  per year. Impact - increased enrollment of students by 68% in
                  TVETs and growth by by 42% in the ECDE sector.
                </p>
              </div>
            </div>
          </div>
          <!-- Service2 end -->
        </div>
        <!-- Col 2 end -->

        <div class="col-lg-6 col-md-6 mb-5">
          <div class="ts-service-box">
            <div class="ts-service-image-wrapper">
              <img
                loading="lazy"
                class="w-100"
                src="assets/images/dairy.JPG"
                alt="service-image"
              />
            </div>
            <div class="d-flex">
              <div class="ts-service-info">
                <h3 class="service-box-title">
                  <a href="service-single.html">Agriculture</a>
                </h3>
                <p>
                  Increased crop production: Maize production increased from 8
                  Bags per acre to 15 bags. Bolstered production of industrial
                  crops through supply of 30,000 tea seedlings, 20,000 coffee
                  seedlings and 15,000 grafted avocado seedlings to farmers
                  Enhanced livestock production: improved dairy cow breeding
                  stock through purchase and distribution of 188 and 40 dairy
                  cows and goats respectively to farmers groups, enhanced local
                  poultry production through distribution of 9,275 local poultry
                  chicks to 150 farmer groups. Strengthened veterinary services:
                  effective control of outbreaks of livestock pests and diseases
                  by vaccinating 127,233 herds of cattle and 7,399 sheep and
                  goats against foot and mouth disease, Lumpy skin disease and
                  anthrax. Improved carcass handling & hygiene through
                  construction of 2 modern slaughterhouses at Mukhalakhala and
                  Serem Enhanced aquaculture: Bolstered production of fish
                  fingerlings (20,000 per month) through establishment and
                  operationalization of Mwitoko fish hatchery and aquaculture
                  training Centre to support fish farmers. Revamped cooperative
                  movement: capacity build cooperatives through supply of 3
                  motorbikes, milk coolers and backup generators to Gimomoi and
                  Vihiga dairy cooperatives respectively and coffee pulpier to
                  Jebrok Farmers Coffee Society
                </p>
              </div>
            </div>
          </div>
          <!-- Service3 end -->
        </div>
        <!-- Col 3 end -->

        <div class="col-lg-6 col-md-6 mb-5">
          <div class="ts-service-box">
            <div class="ts-service-image-wrapper">
              <img
                loading="lazy"
                class="w-100"
                src="assets/images/water.JPG"
                alt="service-image"
              />
            </div>
            <div class="d-flex">
              <div class="ts-service-info">
                <h3 class="service-box-title">
                  <a href="service-single.html"
                    >Environment, Water, Energy and Natural Resources</a
                  >
                </h3>
                <p>
                  Water - Successful implementation and completion of civil
                  works for the Vihiga Cluster water project, covering Maseno,
                  Mbale and Kaimosi water supplies. These 3 water schemes
                  capacity has been increased from 6,340,000 litres per day to
                  12,500,000 litres per day, supplying 2,943 active customers
                  against possible 7,541 and more once reticulation is
                  completed. The Vihiga Cluster water project has the capacity
                  to serve over 270,000 households. Rehabilitated and expanded
                  the county funded Ebunagwe, Gaga, Bumbo, Chepsaga, Mugogo,
                  Mango’ngo and Majengo-Gisambai water projects and
                  operationalized 12 boreholes. Protection of community 87 water
                  springs. Developed and promoted innovative based methods and
                  technologies for water harvesting that included installation
                  of water harvesting tanks in public facilities Completed and
                  operationalized Nangoli water project in SW Bunyore. We
                  estimate to reach around 2,000 conections totalling 10,000
                  people. A borehole was sunk In Vokoli, we elevated a steel
                  tank which was also comissioned and estimated to serve
                  approximatly 3000 people. Anumber of water pumps have been
                  purchased, new pipes have been layed around 3 major water
                  schemes (Lunyerere, Kaimosi and Maseno among other existing
                  water schemes).
                </p>
              </div>
            </div>
          </div>
          <!-- Service1 end -->
        </div>
        <!-- Col 4 end -->

        <div class="col-lg-6 col-md-6 mb-5">
          <div class="ts-service-box">
            <div class="ts-service-image-wrapper">
              <img
                loading="lazy"
                class="w-100"
                src="assets/images/fireengine.JPG"
                alt="service-image"
              />
            </div>
            <div class="d-flex">
              <div class="ts-service-info">
                <h3 class="service-box-title">
                  <a href="service-single.html">Transport and Infrastructure</a>
                </h3>
                <p>
                  Installed 18 High mast flood lights in various market centres
                  in collaboration with Rural Electrification Authority (REA).
                  Construction of roadside amenities such as 3no. Eco-toilets,
                  8no. Market sheds, and paving and fencing in Gambogi and
                  Majengo market, in collaboration with KeNHA and COVEC.
                  Purchased a 10,000 litres Fire Engine and Rapid Response
                  Vehicle which has been instrumental in mitigating disasters
                  Commenced tarmacking of GisambaiShamakhokho Road Under KeRRA
                  Constructed 46 River Structures (Bridges, Box Culverts,
                  Footbridges, River Crossings) Under roads infrastructure, we
                  have cumulatively maintained 1,346km of road Constructed and
                  operationalized the mechanical unit
                </p>
              </div>
            </div>
          </div>
          <!-- Service2 end -->
        </div>
        <!-- Col 5 end -->

        <div class="col-lg-6 col-md-6 mb-5">
          <div class="ts-service-box">
            <div class="ts-service-image-wrapper">
              <img
                loading="lazy"
                class="w-100"
                src="assets/images/market.JPG"
                alt="service-image"
              />
            </div>
            <div class="d-flex">
              <div class="ts-service-info">
                <h3 class="service-box-title">
                  <a href="service-single.html">TRADE</a>
                </h3>
                <p>
                  Installed 16 Solar Lights in markets across the County Market
                  stalls have been constructed in the following areas: -
                  Kivagala, Asikote, Boyani and Jebrok while market shades have
                  been constructed in several market centres. To improve on the
                  hygiene in the markets, toilets have been constructed in the
                  following markets: Emabungo, Mago, Lotego, Kivagala, Mwibona
                  livestock market, Muhudu, Cheptulu, Mudete, Ekwanda and
                  Angoya. Construction /refurbishment works have been completed
                  on the following markets: Luanda Omena Market, Wemilabi ESP,
                  Walodeya ESP. Rehabilitation of Serem, Majengo and Esibuye
                  Markets. The Vihiga County Trade and Enterprise Fund Scheme
                  has disbursed a total of Kshs. 54,518,640 to date. A total of
                  1,534 applicants out of 5,639 applicants have benefited from
                  the above disbursement leaving out 4,105 applicants due to
                  limited funds. Organized the first Investment conference in
                  2019 exposing Vihiga County’s investment
                </p>
              </div>
            </div>
          </div>
          <!-- Service3 end -->
        </div>
        <!-- Col 6 end -->
      </div>
      <!-- Main row end -->
    </div>
    <!-- Conatiner end -->
  </section>
  <!-- Main container end -->
  <app-footer></app-footer>
</div>
