<div id="top-bar" class="top-bar">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-8">
          <ul class="top-info text-center text-md-left"></ul>
        </div>
        <!--/ Top info end -->

        <div class="col-lg-4 col-md-4 top-social text-center text-md-right">
          <ul class="list-unstyled">
            <li>
              <a
                title="Facebook"
                href="https://facebbok.com/themefisher.com"
              >
                <span class="social-icon"
                  ><i class="fab fa-facebook-f"></i
                ></span>
              </a>
              <a title="Twitter" href="https://twitter.com/themefisher.com">
                <span class="social-icon"
                  ><i class="fab fa-twitter"></i
                ></span>
              </a>
              <a
                title="Instagram"
                href="https://instagram.com/themefisher.com"
              >
                <span class="social-icon"
                  ><i class="fab fa-instagram"></i
                ></span>
              </a>
              <a title="Linkdin" href="https://github.com/themefisher.com">
                <span class="social-icon"
                  ><i class="fab fa-github"></i
                ></span>
              </a>
            </li>
          </ul>
        </div>
        <!--/ Top social end -->
      </div>
      <!--/ Content row end -->
    </div>
    <!--/ Container end -->
  </div>
<header id="header" class="header-one">
    <div class="bg-white">
      <div class="container">
        <div class="logo-area">
          <div class="row align-items-center">
            <div
              class="logo col-lg-3 text-center text-lg-left mb-3 mb-md-5 mb-lg-0"
            >
              <a class="d-block" href="/">
                <img loading="lazy" src="assets/images/logo.png" alt="Constra" />
              </a>
            </div>
            <!-- logo end -->

            <div class="col-lg-9 header-right">
              <ul class="top-info-box">
                <li>
                  <div class="info-box">
                    <div class="info-box-content">
                      <p class="info-box-title">Call Us</p>
                      <p class="info-box-subtitle">
                        <a href="tel:(+9) 847-291-4353"
                          >(+254) 714-933-065
                        </a>
                      </p>
                    </div>
                  </div>
                </li>
                <li>
                  <div class="info-box">
                    <div class="info-box-content">
                      <p class="info-box-title">Email Us</p>
                      <p class="info-box-subtitle">
                        <a href="mailto:office@Constra.com"
                          >info@ottichilo.co.ke</a
                        >
                      </p>
                    </div>
                  </div>
                </li>
                <li class="last">
                  <div class="info-box last">
                    <div class="info-box-content">
                      <p class="info-box-title">Website</p>
                      <p class="info-box-subtitle">ottichilo.co.ke</p>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- Ul end -->
            </div>
            <!-- header right end -->
          </div>
          <!-- logo area end -->
        </div>
        <!-- Row end -->
      </div>
      <!-- Container end -->
    </div>

    <div class="site-navigation">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg navbar-dark p-0">
              <button
                class="navbar-toggler"
                type="button"
                data-toggle="collapse"
                data-target=".navbar-collapse"
                aria-controls="navbar-collapse"
                aria-expanded="false"
                aria-label="Toggle navigation"
              >
                <span class="navbar-toggler-icon"></span>
              </button>

              <div id="navbar-collapse" class="collapse navbar-collapse">
                <ul class="nav navbar-nav ml-auto align-items-center">
                  <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                 
                  <li class="nav-item">
                    <a class="nav-link" href="about">Candidate</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="blog"
                      >News &amp;Media</a
                    >
                  </li>
                 
                  <li class="nav-item">
                    <a class="nav-link" href="manifesto">Manifesto</a>
                  </li>
                
                  <li class="nav-item dropdown">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Projects <i class="fa fa-angle-down"></i></a>
                    <ul class="dropdown-menu" role="menu">
                      <li><a href="gallery">Galllery</a></li>
                     
                    </ul>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="contact">Contact</a>
                  </li>
               
                </ul>
              </div>
            </nav>
          </div>
          <!--/ Col end -->
        </div>
        <!--/ Row end -->

        <div class="search-block" style="display: none">
          <label for="search-field" class="w-100 mb-0">
            <input
              type="text"
              class="form-control"
              id="search-field"
              placeholder="Type what you want and enter"
            />
          </label>
          <span class="search-close">&times;</span>
        </div>
        <!-- Site search end -->
      </div>
      <!--/ Container end -->
    </div>
    <!--/ Navigation end -->
  </header>
  <!--/ Header end -->
