<div class="body-inner">
    <app-navbar></app-navbar>
    <section id="main-container" class="main-container">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="shuffle-btn-group">
                <label class="active" for="all">
                  <input type="radio" name="shuffle-filter" id="all" value="all" checked="checked" (click)="filterImages($event.target)">Show All
                </label>
                <label for="agriculture">
                  <input type="radio" name="shuffle-filter" id="agriculture" value="agriculture" (click)="filterImages($event.target)">AGRICULTURE
                </label>
                <label for="education">
                  <input type="radio" name="shuffle-filter" id="education" value="education"(click)="filterImages($event.target)"> EDUCATION
                </label>
                <label for="environment">
                  <input type="radio" name="shuffle-filter" id="environment" value="environment" (click)="filterImages($event.target)">ENVIRONMENT &AMP;cLIMATE CHANGE             </label>
                <label for="transport">
                  <input type="radio" name="shuffle-filter" id="transport" value="transport" (click)="filterImages($event.target)">TRANSPORT  &AMP; INFRASTRUCTURE
                </label>
                <label for="trade">
                  <input type="radio" name="shuffle-filter" id="trade" value="trade" (click)="filterImages($event.target)">TRADE &amp;ENTREPRENEURSHIP
                </label>
                <label for="health">
                  <input type="radio" name="shuffle-filter" id="health" value="health" (click)="filterImages($event.target)">HEALTHCARE
                </label>
                <label for="water">
                  <input type="radio" name="shuffle-filter" id="water" value="water" (click)="filterImages($event.target)">WATER
                </label>
                <label for="news">
                  <input type="radio" name="shuffle-filter" id="news" value="news" (click)="filterImages($event.target)">NEWS
                </label>
              </div><!-- project filter end -->
      
      
              <div class="row ">
                <div class="col-lg-4 col-md-6 shuffle-item" *ngFor="let em of healthcare">
                  <div class="project-img-container">
                    <a class="gallery-popup" href="{{em.image}}">
                      <img class="img-fluid" src="{{em.image}}" alt="agriculture" style="height: 300px; width: 100%;">
                      <span class="gallery-icon"><i class="fa fa-plus"></i></span>
                    </a>
                    <div class="project-item-info">
                      <div class="project-item-info-content">
                        <h3 class="project-item-title">
                          <a  class="gallery-popup" href="{{em.image}}">{{em.title}}</a>
                        </h3>
                        <p class="project-cat">{{em.description }} <br>
                        {{em.date|date}}</p>


                      </div>
                    </div>
                  </div>
                </div><!-- shuffle item 1 end -->   

              </div><!-- shuffle end -->
            </div>
      
            <div class="col-12">
              <div class="general-btn text-center">
                <a class="btn btn-primary" href="gallery">View All Projects</a>
              </div>
            </div>
      
          </div><!-- Content row end -->
      
        </div><!-- Conatiner end -->
      </section>
    <app-footer></app-footer>
</div>
