<div class="book-section">

     <div class="container">
       
         <div class="right">
            <figure class="back"  id="back-cover" ></figure>
            <figure class="front" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/billarito-fbb9d.appspot.com/o/Implemenations.png?alt=media&amp;token=cac236e3-3108-4ee7-9e98-6c5383865619');"></figure>
        </div>
         <div class="right">
            <figure class="back" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/billarito-fbb9d.appspot.com/o/Manifesto%20Report%20updated16.png?alt=media&amp;token=0b6ffb67-1950-4b76-bb08-894269bfe00d');"></figure>
            <figure class="front" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/billarito-fbb9d.appspot.com/o/Manifesto%20Report%20updated15.png?alt=media&amp;token=0fc5ebe2-1ffa-4265-a880-6cb8c6ee276d');"></figure>
        </div>
         <div class="right">
            <figure class="back" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/billarito-fbb9d.appspot.com/o/Manifesto%20Report%20updated14.png?alt=media&amp;token=7bb818ef-a60a-40d6-bba8-be0937a8c33b');"></figure>
            <figure class="front" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/billarito-fbb9d.appspot.com/o/Manifesto%20Report%20updated13.png?alt=media&amp;token=085e7112-4662-429c-b140-b1dc542653b0');"></figure>
        </div>
         <div class="right">
             <figure class="back" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/billarito-fbb9d.appspot.com/o/Manifesto%20Report%20updated12.png?alt=media&amp;token=7b37cb53-d334-46c3-86b9-b8c7667ec602');"></figure>
             <figure class="front" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/billarito-fbb9d.appspot.com/o/Manifesto%20Report%20updated11.png?alt=media&amp;token=77089f30-8a2a-4384-b731-299a23658287');"></figure>
         </div>
         <div class="right">
             <figure class="back" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/billarito-fbb9d.appspot.com/o/Manifesto%20Report%20updated10.png?alt=media&amp;token=2ffd0ede-048c-4540-b503-ab98cc556aff');"></figure>
             <figure class="front" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/billarito-fbb9d.appspot.com/o/Manifesto%20Report%20updated9.png?alt=media&amp;token=b7064991-d26c-4af6-91d1-dc7f78249366');"></figure>
         </div>
         <div class="right">
             <figure class="back" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/billarito-fbb9d.appspot.com/o/Manifesto%20Report%20updated8.png?alt=media&amp;token=b045db6b-f390-44f0-b2ff-8515feffcc17');"></figure>
             <figure class="front" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/billarito-fbb9d.appspot.com/o/Manifesto%20Report%20updated7.png?alt=media&amp;token=4487675f-571c-4558-8e13-44b6a6b506a2');"></figure>
         </div>
         <div class="right">
            <figure class="back" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/billarito-fbb9d.appspot.com/o/Manifesto%20Report%20updated6.png?alt=media&amp;token=6876b42e-421f-450a-8a7f-a268e373811c');"></figure>
            <figure class="front" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/billarito-fbb9d.appspot.com/o/Manifesto%20Report%20updated3.png?alt=media&amp;token=0f84857c-78a8-4176-b8f0-76028d0536d9');"></figure>
        </div>
         <div class="right">
             <figure class="back" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/billarito-fbb9d.appspot.com/o/Manifesto%20Report%20updated2.png?alt=media&amp;token=4bacf180-ab41-433c-bf5f-8f0d87f9ddae');"></figure>
             <figure class="front" id="cover" style="background-image: url('https://firebasestorage.googleapis.com/v0/b/cashpro-c343e.appspot.com/o/Manifesto%20Report%20updat.png?alt=media&token=a1912aab-fb0a-40fa-af5e-cb31b3d99f77');">
                
             </figure>
         </div>
     </div>
     <button (click)="turnRight()">Next</button> <button (click)="turnLeft()">Prev</button> 
     <br/>
 </div>
