<div class="book-section">

     <div class="container">
        <div class="right">
             <figure class="back" id="back-cover"></figure>
             <figure class="front" style="background-image: url(http://artisticdesigning.com/Drawings/Photoshopped/angry_man.jpg);"></figure>
         </div>
         <div class="right">
            <figure class="back" style="background-image: url(http://artisticdesigning.com/Drawings/Photoshopped/angry_man.jpg);"></figure>
            <figure class="front" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/cashpro-c343e.appspot.com/o/Manifesto%20posters5.png?alt=media&token=039cb196-ecd0-452a-88be-c45abdd58403);"></figure>
        </div>
         <div class="right">
            <figure class="back" style="background-image: url(http://artisticdesigning.com/Drawings/Photoshopped/angry_man.jpg);"></figure>
            <figure class="front" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/cashpro-c343e.appspot.com/o/Manifesto%20posters12.png?alt=media&token=ddc04d56-b2ec-40b3-a8a5-588d0c65ba41);"></figure>
        </div>
         <div class="right">
            <figure class="back" style="background-image: url(http://artisticdesigning.com/Drawings/Photoshopped/angry_man.jpg);"></figure>
            <figure class="front" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/cashpro-c343e.appspot.com/o/Manifesto%20posters4.png?alt=media&token=0447fe08-7891-495e-9544-a1350d81de89);"></figure>
        </div>
         <div class="right">
            <figure class="back" style="background-image: url(http://artisticdesigning.com/Drawings/Photoshopped/angry_man.jpg);"></figure>
            <figure class="front" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/cashpro-c343e.appspot.com/o/Manifesto%20posters11.png?alt=media&token=5c63a047-08d0-4565-9375-1ff09d4c3e1b);"></figure>
        </div>
         <div class="right">
            <figure class="back" style="background-image: url(http://artisticdesigning.com/Drawings/Photoshopped/angry_man.jpg);"></figure>
            <figure class="front" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/cashpro-c343e.appspot.com/o/Manifesto%20posters.png?alt=media&token=3e564f3d-b74b-48e2-af47-e4975458190d);"></figure>
        </div>
         <div class="right">
             <figure class="back" style="background-image: url(http://artisticdesigning.com/Drawings/Photoshopped/angry_man.jpg);"></figure>
             <figure class="front" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/cashpro-c343e.appspot.com/o/Manifesto%20posters10.png?alt=media&token=fdbf4403-7f5b-467a-9cb3-52a9f48b5ee5);"></figure>
         </div>
         <div class="right">
             <figure class="back" style="background-image: url(http://artisticdesigning.com/Drawings/Photoshopped/sunset_landscape.jpg);"></figure>
             <figure class="front" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/cashpro-c343e.appspot.com/o/Manifesto%20posters2.png?alt=media&token=a652c1fa-205f-47b0-8bb7-33568d8b9177);"></figure>
         </div>
         <div class="right">
             <figure class="back" style="background-image: url(http://artisticdesigning.com/Drawings/Photoshopped/intex_speakers.jpg);"></figure>
             <figure class="front" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/cashpro-c343e.appspot.com/o/Manifesto%20posters2.png?alt=media&token=a652c1fa-205f-47b0-8bb7-33568d8b9177);"></figure>
         </div>
         <div class="right">
             <figure class="back" style="background-image: url(http://artisticdesigning.com/Drawings/Photoshopped/doraemon_nobita_aged.jpg);"></figure>
             <figure class="front" style="background-image: url(https://firebasestorage.googleapis.com/v0/b/cashpro-c343e.appspot.com/o/Manifesto%20posters8.png?alt=media&token=e0cf85aa-1151-43dd-b13e-f85460b02eca);"></figure>
         </div>
         <div class="right">
             <figure class="back" style="background-image: url('http://artisticdesigning.com/Drawings/Photoshopped/narendra_modi_caricature.jpg');"></figure>
             <figure class="front" id="cover">
                 <h1>OTICHILO MANIFESTO</h1>
                 <p>MCHAPA KAZI</p>
             </figure>
         </div>
     </div>
     <button (click)="turnLeft()">Prev</button> <button (click)="turnRight()">Next</button>
     <br/>
 </div>
