<div class="body-inner">
    <app-navbar></app-navbar>
    <section id="main-container" class="main-container">
        <div class="container">
          <div class="row">
            <section id="main-container" class="main-container">
              <div class="container">
                <div class="row">
            
                  <div class="col-lg-12 mb-5 mb-lg-0">
                    <div class="post"  *ngFor="let post of posts">
                      <div class="post-media post-image">
                        <img loading="lazy" src="{{post.image}}" class="img-fluid" alt="post-image">
                      </div>
            
                      <div class="post-body">
                        <div class="entry-header">
                          <div class="post-meta">
                            
                            <span class="post-meta-date"><i class="far fa-calendar"></i>{{post.date}}</span>
                        
                          </div>
                          <h2 class="entry-title">
                            <a href="blog">{{post.title}}</a>
                          </h2>
                        </div><!-- header end -->
            
                        <div class="entry-content">
                          <p>{{post.description}}</p>
                        </div>
            
                        <!-- <div class="post-footer">
                          <a href="news-single.html" class="btn btn-primary">Continue Reading</a>
                        </div> -->
            
                      </div><!-- post-body end -->
                    </div><!-- 1st post end -->
            
                    <nav class="paging" aria-label="Page navigation example">
                      <ul class="pagination">
                        <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-double-left"></i></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a></li>
                      </ul>
                    </nav>
            
                  </div><!-- Content Col end -->
            
                 
            
                </div><!-- Main row end -->
            
              </div><!-- Container end -->
            </section>
           
      
          </div><!-- Main row end -->
      
        </div><!-- Container end -->
      </section>
    <app-footer></app-footer>
</div>
