
    <div class="body-inner">
    
      <app-navbar></app-navbar>

      <div class="banner-carousel banner-carousel-1 mb-0">
        <div
          class="banner-carousel-item"
          style="background-image: url(assets/images/banner/b2.jpg)"
        >
          <div class="slider-content text-right">
            <div class="container h-100">
              <div class="row d-flex align-items-end h-100">
                <div class="col-md-12">
                  <h3 class="slide-sub-title" data-animation-in="slideInRight">
                    MCHAPA KAZI
                  </h3>
                  <h2 class="slide-title" data-animation-in="slideInLeft">
                    A Stellar Reputation. A Stellar Track Record. Wilber
                    Khasilwa Ottichilo <br />
                    has been a revolutionary leader both as a Member of <br />
                    Parliament as well as Governor.
                  </h2>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div
          class="banner-carousel-item"
          style="background-image: url(assets/images/banner/b3.jpg)"
        >
          <div class="slider-content text-left mt-5">
            <div class="container h-100">
              <div class="row align-items-center h-100">
                <div class="col-md-12">
                  
                </div>
              </div>
            </div>
          </div>
        </div>
        <div
        class="banner-carousel-item"
        style="background-image: url(assets/images/banner/b4.jpg)"
      >
        <div class="slider-content text-right">
          <div class="container h-100">
            <div class="row d-flex align-items-end h-100">
              <div class="col-md-12">
                <h3 class="slide-sub-title" data-animation-in="slideInRight">
                  MCHAPA KAZI
                </h3>
                <h2 class="slide-title" data-animation-in="slideInLeft">
                  A Stellar Reputation. A Stellar Track Record. Wilber
                  Khasilwa Ottichilo <br />
                  has been a revolutionary leader both as a Member of <br />
                  Parliament as well as Governor.
                </h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div
      class="banner-carousel-item"
      style="background-image: url(assets/images/banner/b1.jpg)"
    >
      <div class="slider-content text-left mt-5">
        <div class="container h-100">
          <div class="row align-items-center h-100">
            <div class="col-md-12">
              
            </div>
          </div>
        </div>
      </div>
    </div>
      </div>

      <section class="call-to-action-box no-padding">
        <div class="container">
          <div class="action-style-box">
            <div class="row align-items-center">
              <div class="col-md-12 text-center">
                <a class="btn btn-dark" href="#"
                  ><p class="h1 action-paragraph">MiSSION &amp; VALUES</p></a
                >
                <div class="call-to-action-text mt-3">
                  <h3 class="action-title">
                    I aspire to provide quality leadership and utmost integrity.
                    <br />
                    I continuously strives to elevate Kenyan’s faith, and to
                    fill our country Kenya with justice.
                  </h3>
                </div>
              </div>
              <!-- Col end -->
              <!-- col end -->
            </div>
            <!-- row end -->
          </div>
          <!-- Action style box -->
        </div>
        <!-- Container end -->
      </section>
      <!-- Action end -->

      <section id="news" class="news">
        <div class="container">
          <!--/ Title row end -->

          <div class="row">
            <div class="col-lg-4 col-md-6 mb-4">
              <div class="latest-post">
                <div class="latest-post-media">
                  <a href="news-single.html" class="latest-post-img">
                    <img
                      loading="lazy"
                      class="img-fluid"
                      src="assets/images/service1.png"
                      alt="img"
                      style="height: 230px; width: 350px"
                    />
                  </a>
                </div>
                <div class="post-body">
                  <h4 class="post-title">
                    <a href="#" class="d-inline-block"
                      >A Leader who Performs
                    </a>
                  </h4>
                  <div class="latest-post-meta">
                    <span class="post-item-date">
                      <i class="fa fa-clock-o"></i>
                      <p class="post-sub-title ">
                        Voted the best MP in Kenya and one of the best
                        performing 1st Term Governors in the Country. Ottichilo
                        is the consummate Performer and a perfect example of
                        Good leadership.
                      </p>
                    </span>
                  </div>
                </div>
              </div>
              <!-- Latest post end -->
            </div>
            <!-- 1st post col end -->

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="latest-post">
                <div class="latest-post-media">
                  <a href="news-single.html" class="latest-post-img">
                    <img
                      loading="lazy"
                      src="assets/images/service2.png"
                      alt="img"
                      style="height: 230px; width: 350px"
                    />
                  </a>
                </div>
                <div class="post-body">
                  <h4 class="post-title">
                    <a href="news-single.html" class="d-inline-block">
                      A Leader of Devolution</a
                    >
                  </h4>
                  <div class="latest-post-meta">
                    <span class="post-item-date">
                      <i class="fa fa-clock-o"></i>
                      <p class="post-sub-title">
                        As the 2nd Governor of Vihiga County he has ensured that
                        the gains of devolution have been realized by
                        constructing over 72 Health facilities and was rated the
                        top2 best county in budget-making process by
                        International Budget Partnership (IBP) & Transparency
                        International(TI).
                      </p>
                    </span>
                  </div>
                </div>
              </div>
              <!-- Latest post end -->
            </div>
            <!-- 2nd post col end -->

            <div class="col-lg-4 col-md-6 mb-4">
              <div class="latest-post">
                <div class="latest-post-media">
                  <a href="news-single.html" class="latest-post-img">
                    <img
                      loading="lazy"
                      class="img-fluid"
                      src="assets/images/service3.png"
                      alt="img"
                      style="height: 230px; width: 350px"
                    />
                  </a>
                </div>
                <div class="post-body">
                  <h4 class="post-title">
                    <a href="news-single.html" class="d-inline-block">
                      A Man of the People.
                    </a>
                  </h4>
                  <div class="latest-post-meta">
                    <span class="post-item-date">
                      <i class="fa fa-clock-o"></i>
                      <p class="post-sub-title">
                        He has been instrumental in improving the lives of the
                        people in Vihiga by employing over 829 ECDteachers, 1452
                        CHVs, and 428 CHEs. Ottichilo Care which benefits mother
                        and child, has impacted over 8000 households.
                      </p>
                    </span>
                  </div>
                </div>
              </div>
              <!-- Latest post end -->
            </div>
            <!-- 3rd post col end -->
          </div>
          <!--/ Content row end -->
        </div>
        <!--/ Container end -->
      </section>
      <!--/ News end -->

      <section id="ts-features" class="ts-features">
        <div class="container">
          <div class="row">
            <div class="col-lg-6">
              <div class="ts-intro">
                <h3 class="into-sub-title">
                  Know more about Gavana Mchapa Kazi
                </h3>
                <p class="into-title">
                  Ottichilo is nothing short of a Stellar Performer. That is his
                  reputation. That is his Legacy. Everything he touches turns to
                  GOLD. From being one of the most educated governors in the
                  region to being rated the best performing Member of Parliament
                  in a recent National Poll prior to Devolution. And he was
                  ranked one of the Top 2 best Performing 1st Term Governors in
                  Kenya!
                </p>
              </div>
              <!-- Intro box end -->
              <div class="gap-20"></div>
            </div>
            <!-- Col end -->

            <div class="col-lg-6 mt-4 mt-lg-0">
              <!--/ Accordion end -->
              <iframe
                width="640"
                height="360"
                src="https://www.youtube.com/embed/BVkL6bsu8wE"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            </div>
            <!-- Col end -->
          </div>
          <!-- Row end -->
        </div>
        <!-- Container end -->
      </section>
      <!-- Feature are end -->

      <section class="subscribe no-padding">
        <div class="container">
          <div class="row">
            <div class="col-md-4">
              <div class="subscribe-call-to-acton">
                <h3>Can We Help?</h3>
                <h4>(+254) 714-933-065</h4>
              </div>
            </div>
            <!-- Col end -->

            <div class="col-md-8">
              <div class="ts-newsletter row align-items-center">
                <div class="col-md-5 newsletter-introtext">
                  <h4 class="text-white mb-0">Newsletter Sign-up</h4>
                  <p class="text-white">Latest updates and news</p>
                </div>

                <div class="col-md-7 newsletter-form">
                  <form action="#" method="post">
                    <div class="form-group">
                      <label for="newsletter-email" class="content-hidden"
                        >Newsletter Email</label
                      >
                      <input
                        type="email"
                        name="email"
                        id="newsletter-email"
                        class="form-control form-control-lg"
                        placeholder="Your your email and hit enter"
                        autocomplete="off"
                      />
                    </div>
                  </form>
                </div>
              </div>
              <!-- Newsletter end -->
            </div>
            <!-- Col end -->
          </div>
          <!-- Content row end -->
        </div>
        <!--/ Container end -->
      </section>

      <!--/ subscribe end -->
      <section id="main-container" class="main-container">
        <div class="container-fluid">
          <div class="row" id="projects">
            <div class="col-lg-12 mt-5 mt-lg-0">
              <div id="page-slider" class="page-slider small-bg">
                <div
                  class="item"
                  style="background-image: url(assets/images/vihigaqueens.jpeg)"
                >
                  <div class="container">
                    <div class="box-slider-content">
                      <div class="box-slider-text">
                        <h2 class="box-slide-title">
                          1st Governor to Win CECAFA Championships in Kenya
                          through Vihiga Queens
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  class="item"
                  style="background-image: url(assets/images/market.JPG)"
                >
                  <div class="container">
                    <div class="box-slider-content">
                      <div class="box-slider-text">
                        <h2 class="box-slide-title">
                          Supporting SMEs and Traders
                        </h2>
                        <h2 class="slide-title text-light" data-animation-in="slideInLeft">
                          The Vihiga County Trade and Enterprise Fund Scheme has
                          disbursed a total of Kshs. 54,518,640 to date. A total
                          of 1,534 applicants out of 5,639 applicants have
                          benefited from the above disbursement leaving out
                          4,105 applicants due to limited funds.
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Item 1 end -->

                <div
                  class="item"
                  style="background-image: url(assets/images/trees.JPG)"
                >
                  <div class="container">
                    <div class="box-slider-content">
                      <div class="box-slider-text">
                        <h2 class="box-slide-title">
                          1st Governor to plant 300,000 Trees increasing forest
                          cover from 10% to 20%.
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Item 1 end -->

                <div
                  class="item"
                  style="background-image: url(assets/images/tvet.JPG)"
                >
                  <div class="container">
                    <div class="box-slider-content">
                      <div class="box-slider-text">
                        <h2 class="box-slide-title">
                          First Governor to organize TVET graduation
                        </h2>
                        <h2 class="slide-title text-light" data-animation-in="slideInLeft">
                          Dr. Ottichilo is very much committed tto enhancing
                          skill development for the youth in order to increse
                          youth employment and benefit the common mwnanchi.
                          Hence stellar work has been done to increase TVET
                          enrollment to .Vihiga was the first coutny nationally
                          to organize for a TVET graduation.
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Item 1 end -->
                <div
                  class="item"
                  style="background-image: url(assets/assets/images/ctscan.JPG)"
                >
                  <div class="container">
                    <div class="box-slider-content">
                      <div class="box-slider-text">
                        <h2 class="box-slide-title">
                          Increased Vihiga County health facilities from 51 to
                          72
                        </h2>
                        <h2 class="slide-title text-light" data-animation-in="slideInLeft">
                          We have successfully achieved 100% coverage of health facilities within a radius of 5KM of the World Health Organization (WHO) standard.
                          </h2>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Item 1 end -->
                <div
                  class="item"
                  style="background-image: url(assets/images/climate.JPG)"
                >
                  <div class="container">
                    <div class="box-slider-content">
                      <div class="box-slider-text">
                        <h2 class="box-slide-title">
                          1st Governor in Kenya to institute  Sports Fund Act
                        </h2>
                     
                        <h2 class="slide-title text-light" data-animation-in="slideInLeft">
                          Under Dr. Ottichilo's governance, Vihiga County was
                          the very first County toinstitute a Sports Fund act
                          that has been responsible for creating a suitable
                          environment for sports activities.
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Item 1 end -->
                <div
                  class="item"
                  style="background-image: url(assets/images/health.JPG)"
                >
                  <div class="container">
                    <div class="box-slider-content">
                      <div class="box-slider-text">
                        <h2 class="box-slide-title">
                          Ottichilo Care:Over 8000 mothers enrolled
                        </h2>
                        <h2 class="slide-title text-light" data-animation-in="slideInLeft">
                          Ottichilo's Landmark initiative OttichiloCare which is
                          a Mother and Child Health Programhas helped to reduce
                          infant mortality by over 75%. It encourages pregnant
                          women to deliver in health facilities free of charge
                          to mitigate pregnancy and birth complications
                          promptly.
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Item 1 end -->
                <div
                  class="item"
                  style="background-image: url(assets/images/garbage.JPG)"
                >
                  <div class="container">
                    <div class="box-slider-content">
                      <div class="box-slider-text">
                        <h2 class="box-slide-title">Garbage Collection vehicles Acquired:</h2>
                        <h2 class="slide-title text-light" data-animation-in="slideInLeft">
                          We acquired 2 garbage collection vehicle, a
                          compacter and skip loader, we also installed bins in various market centers
                          across the county for waste management.
                          
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Item 1 end -->
                <div
                  class="item"
                  style="background-image: url(assets/images/sponsor.jpg)"
                >
                  <div class="container">
                    <div class="box-slider-content">
                      <div class="box-slider-text">
                        <h2 class="box-slide-title">
                          Governor Scholarship Program
                        </h2>
                        <h2 class="slide-title text-light" data-animation-in="slideInLeft">
                          A bursary program was set up and given to over 26,000
                          Secondary school, Tertiary and university Students.
                          Over 346 secondary school students benefited under
                          Governor’s scholarship program.
                        </h2>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- Item 1 end -->
              </div>
              <!-- Page slider end-->
            </div>
            <!-- Col end -->
          </div>
          <!-- Content row end -->
        </div>
        <!-- Container end -->
      </section>
     <app-footer></app-footer>
      <!-- Footer end -->

   
    </div>

